<% include header %>
    <div id="Links" class=menuBar>
        <p>
            <a id="home" href="/">Home</a> |
            <a id="store" href="/store">Store</a> |
            <a id="account" href="/login">Account</a> |
            <a id="about">About</a>
        </p>
        </div>
        <div id="content" class=mainContent>
            <h2>Moose Duece Games</h2><br>
            <p>Wilderness Survival Game puts you in realistic sitiutions where
            you must make the right decisions in order to make it out of the 
            wilderness alive.  You have limited supplies and must survive of the
            land until you are rescued or find civilization.
            </p>
            <p>Contact: matt@mooseduecegames.com</p>

        </div>
    
<% include footer %>