<% include header %>
        <div id="Links" class=menuBar>
            <p><a id="home">Home</a>  |  
                <a id="store" href="/store">Store</a> |  
                <a id="account" href="/login">Account</a> |  
                <a id="about" href="/about">About</a>            
            </p>
        </div>
        <div id="content" class=mainContent>
            <h2>Welcome</h2>
            <img src="game.jpg" alt="game img" width="300" height="450">
        </div>

<% include footer %>